nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* border: 1px solid black; */
}

nav .logo{
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
}

nav .menucont{
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
}

nav .menucont .menu{
    width: 18vw;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    border-radius: 15px;
    /* border: 1px solid black; */
}

nav .menu li{
    list-style: none;
    margin:0 1em;
    /* padding: 0.2em; */
    /* border: 1px solid black; */
}

nav .menu li a{
    width: 15vw;
    text-decoration: none;
    color:#041415;
    font-size: 1.2rem;
    padding: 0.5em;
    border-radius: 10px;
    background-color: white;
    /* border: 1px solid black; */
}


nav .menu li a:hover {
  background-color: #5c64e3;
  color: #fff;
}
