.signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width:30vw;
    margin: 10vh auto;
    padding: 1em;
    /* border: 1px solid black; */
}

.signin .incont{
    position: relative;
    width: 25vw;
}

.signin .incont input{
    width: 25vw;
    outline: none;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid black;
}

.signin .incont  label{
    position:absolute;
    pointer-events: none;
    top: 8px;
    left: 15px;
    padding: 0.2em;
    color:#041415;
    background-color: white;
}


.signin .incont input:focus+label,
.signin .incont input:valid+label,
.signin .incont input:not(:placeholder-shown)+label
{
    top: -15px;
    color: #849fea;
    transition: 0.2s ease-in-out;
}

.signin .incont input:focus{
    border-color: #849fea;
    border-width: 2px;
}

/* To remove blue fill background */
.incont input:-webkit-autofill,
.incont input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.signin button{
    width:25vw;
    padding: 0.8em;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color:#eefbfc;    
    background-color: #5c64e3;
    border-radius: 10px;
}

.signin .link{
    text-align: center;
}

.signin .link a{
    text-decoration: none;
    color:#5c64e3 ;
}