.vehiclecont{
    width:95vw;
    margin:2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    /* border: 1px solid black; */

}

.vehiclecont table{
    width: 95vw;
    border-radius: 10px;
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
}

.vehiclecont th{
    border: none;
    padding: 1em;
}

.vehiclecont td{
    border: none;
    padding: 1em;
}

/* .vehiclecont tr:nth-child(even) {background-color: hsl(186, 71%, 55%, 20%);} */
.vehiclecont tr:nth-child(even) {background-color: hsl(224, 71%, 72%, 30%);}
